<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - assignment1</title>
    
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version = "true" />
    <script src="https://kit.fontawesome.com/f7fb8f5dc1.js" crossorigin="anonymous"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;0,800;1,100&family=Titillium+Web:ital,wght@0,200;0,300;0,600;0,700;0,900;1,200;1,300&display=swap" rel="stylesheet">

</head>
<body>
    <header>
            
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark  border-bottom">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
    </button>
    <div class=" collapse navbar-collapse" id="navbarColor02">
      <ul class=" navbar-nav r">
        <li class="nav-item">
        <a class="nav-link " asp-controller="Home" asp-action="Index">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
        <a class="nav-link " asp-controller="Customers" asp-action="Index">Customers</a>
        </li>
        <li class="nav-item">
         <a class="nav-link "  asp-controller="Products" asp-action="Index">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-controller="Technicians" asp-action="Index">Technicians</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" asp-controller="Incidents" asp-action="Index">Incidents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-controller="Registrations" asp-action="Index">Registrations</a>
        </li>

         <li class="nav-item">
           <a class="nav-link " asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>


      </ul>

    </div>
  </div>
</nav>



        

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - assignment1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Registrations</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
