@{
    ViewData["Title"] = "Registrations";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h4 class="text-center mb-4">Select customer</h4>
    </div>
    <div class="row justify-content-between text-left form_wrapper">
        <div class="form-group col-6 flex-column d-flex">
            <label class="control-label"></label>
            <select class="form-select" asp-items="@ViewBag.Customers">
                <option value="">Select a customer</option>
            </select>
        </div>

    </div>
</div>
