@model IEnumerable<assignment1.Models.Product>

@{
    ViewData["Title"] = "Registrations";
}
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h4 class="text-center mb-4">Get Customer</h4>
  </div>

</div>
