@model assignment1.Models.Technician

@{
    ViewData["Title"] = "Edit";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="title-custom display-4">Edit Technician</h1>
        <p class="lead" style="text-align:center;">Please Edit the technician's information and hit the save button</p>
    </div>
</div>


<div class="container form_box card" style="border:none;box-shadow:none; ">
    <h4 class="text-center mb-4">Technician</h4>
    <hr />
    <br />

    <form class="form-card" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="TechnicianId" />
        <div class="row justify-content-between text-left form_wrapper">
            <div class="form-group col-sm-6 flex-column d-flex">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="row justify-content-between text-left form_wrapper">
            <div class="form-group col-sm-6 flex-column d-flex">
                <label asp-for="StreetAddress" class="control-label">Street Address</label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
                <label asp-for="PostalCode" class="control-label">Postal Code</label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
        </div>
        <div class="row justify-content-between text-left form_wrapper">
            <div class="form-group col-sm-6 flex-column d-flex">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
                <label asp-for="Country" class="control-label"></label>
                <select class="form-select" asp-for="Country" asp-items="@ViewBag.Countries">
                    <option value="">Select your country</option>
                </select>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
        </div>

        <div class="row justify-content-between text-left form_wrapper">

            <div class="form-group col-sm-6 flex-column d-flex">
                <label asp-for="EmailAddress" class="control-label">Email Address</label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
                <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group button_center">
            <input type="submit" class=" btn btn-form" value="Save" style="margin:0.5rem;" />
            <button type="button" class=" btn btn-form" style="margin:0.5rem;">
                <a asp-action="Index">Back to List</a>
            </button>
        </div>
    </form>
</div>



@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
