@model assignment1.ViewModels.IncidentViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="title-custom display-4">Create new Incident</h1>
        <p class="lead" style="text-align:center;">Please enter the Incident information and hit the create button. If
            you do not want, hit the go back button</p>
    </div>
</div>

<div class="container form_box card" style="border:none;box-shadow:none; ">
    <h4 class="text-center mb-4">Incident</h4>
    <hr />
    <br />
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row justify-content-between text-left form_wrapper">
            <div class="form-group col-6 flex-column d-flex">
                <label asp-for="CustomerId" class="control-label"></label>
                <select class="form-select" asp-for="CustomerId" asp-items="@Model.Customers">
                    <option value="">Select a customer</option>
                </select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>

            <div class="form-group col-sm-6 flex-column d-flex">
                <label asp-for="ProductId" class="control-label"></label>
                <select class="form-select" asp-for="ProductId" asp-items="@Model.Products">
                    <option value="">Select a product</option>
                </select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>

        </div>

        <div class="row justify-content-between text-left form_wrapper">
            <div class="form-group col-sm-12 flex-column d-flex">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group col-sm-12 flex-column d-flex">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="5"><</textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="row justify-content-between text-left form_wrapper">

            <div class="form-group col-sm-4 flex-column d-flex">
                <label asp-for="TechnicianId" class="control-label"></label>
                <select class="form-select" asp-for="TechnicianId" asp-items="@Model.Technicians">
                    <option value="">Assign a technician?</option>
                </select>
            </div>
            <div class="form-group col-sm-4 flex-column d-flex">
                <label asp-for="DateOpened" class="control-label" ></label>
                <input asp-for="DateOpened" class="form-control"/>
                <span asp-validation-for="DateOpened" class="text-danger"></span>
            </div>

            <div class="form-group col-sm-4 flex-column d-flex">
                <label asp-for="DateClosed" class="control-label"></label>
                <input asp-for="DateClosed" class="form-control" />
                <span asp-validation-for="DateClosed" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group button_center">
            <input type="submit" class=" btn btn-form" value="Create" style="margin:0.5rem;" />
            <button type="button" class=" btn btn-form" style="margin:0.5rem;">
                <a asp-action="Index">Back to List</a>
            </button>
        </div>
    </form>
</div>


@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
