@{
    ViewData["Title"] = "Error";
}


<div class="jumbotron jumbotron-fluid">
    <div class="container" data-aos="fade-in  " data-aos-delay="200" data-aos-duration="1500">
        <img src="https://img.icons8.com/external-icongeek26-outline-gradient-icongeek26/64/000000/external-customer-casino-icongeek26-outline-gradient-icongeek26.png"
            style="width:50px; margin: 10px auto; display:block;" />
        <h1 class="title-custom display-4">Error</h1>

        <div class="container">
            <div class="row justify-conent-center">
                <div class="col-md-12 text-center">
                    <span class="title-custom display-4">
                        404
                    </span>
                    <div class="mb-4 lead">I think you got lost...</div>
                    <button type="button" class=" btn btn-form" style="margin:0.5rem;">
                        <a asp-action="Index">Let's go back home.</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
